select {
  width: 120px;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  border-radius: 5px;}